/* footer.css */
a {
  text-decoration: none;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-inline: 80px;
  background-color: #000000e7;
  font-family: "Inter", sans-serif;
  padding-bottom: 10px;
  max-width: 100%;
  overflow: hidden;
  margin-top: auto;
}

footer h4 {
  color: white;
  font-size: 20px;
  margin-block: 32px;
}

footer span {
  color: white;
  font-size: 18px;
}

.contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contato .whatssap,
.contato .telefone {
  display: flex;
  gap: 10px;
  align-items: center;
}

.redes-sociais {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.redes-sociais .facebook a,
.redes-sociais .instagram a {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-inline: 1px solid rgba(0, 0, 0, 0.747);
}

@media (max-width: 800px) {
  footer {
    grid-template-columns: auto auto;
    padding-block: 20px 30px;
  }

  footer h4 {
    font-size: 20px;
    margin-block: 10px;
  }

  .footer-main {
    display: none;
  }

  .redes-sociais img {
    height: 20px;
  }

  .redes-sociais span {
    font-size: 18px;
  }

  .contato {
    border-right: 1px solid black;
  }

  .contato img {
    height: 18px;
  }

  .contato span {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .contato {
    border-right: none;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
  }

  .contato img {
    height: 18px;
  }

  .contato span {
    font-size: 16px;
  }

  footer h4 {
    font-size: 18px;
  }

  .redes-sociais img {
    height: 18px;
  }

  .redes-sociais span {
    font-size: 16px;
  }
}